* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 5.33333333vw;
}
body {
  width: 18.75rem;
  height: 33.35rem;
}
.header {
  position: fixed;
  height: 3.5rem;
  width: 750、40rem;
  background: white;
}
.header .hd {
  width: 18.75rem;
  height: 0.75rem;
  line-height: 0;
}
.header .hd img {
  width: 18rem;
  height: 0.475rem;
  margin-left: 0.375rem;
  margin-top: 0.25rem;
}
.header .tit {
  height: 2.75rem;
  width: 18.75rem;
  font-family: PingFang-SC-Bold;
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #030202;
  line-height: 2.75rem;
}
.header .tit img:nth-child(1) {
  position: absolute;
  width: 1.525rem;
  height: 1.525rem;
  left: 0.75rem;
  top: 1.35rem;
}
.header .tit span:nth-child(2) {
  display: inline-block;
  font-family: PingFang-SC-Bold;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  color: #000000;
  font-weight: 800;
  margin-left: 2.75rem;
}
.header .tit img:nth-child(3) {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  right: 0.75rem;
  top: 1.7rem;
}
.zw {
  width: 18.75rem;
  height: 3.5rem;
}
.content {
  width: 18.75rem;
  height: 32.5rem;
  background: #f6f6f6;
}
.content .card {
  height: 9.5rem;
  width: 17.65rem;
  background: url(../img/安德莉亚5.png);
  background-size: 17.65rem 9.5rem;
  margin: 0 auto;
  box-shadow: 0px 5px 5px -1px #888888;
}
.content .num {
  margin-top: 0.5rem;
  display: flex;
  height: 2.375rem;
  justify-content: space-between;
}
.content .num div {
  width: 6.22916667rem;
  height: 2.375rem;
  background: #f79d42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.content .num div span {
  display: block;
  font-family: PingFang-SC-Medium;
  font-size: 0.55rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
}
.content .dd {
  width: 18.75rem;
  height: 1.35rem;
  background: white;
  line-height: 1.35rem;
}
.content .dd span:nth-child(1) {
  display: inline-block;
  font-family: PingFang-SC-Medium;
  font-size: 0.6rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #060606;
  margin-left: 0.625rem;
}
.content .dd img {
  position: absolute;
  width: 0.325rem;
  height: 0.3rem;
  margin-top: 0.5rem;
  right: 0.375rem;
}
.content .dd span:nth-child(3) {
  float: right;
  font-family: PingFang-SC-Medium;
  font-size: 0.45rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #939393;
  margin-right: 0.875rem;
}
.content .mnue {
  margin-top: 0.375rem;
  width: 18.75rem;
  height: 3.275rem;
  background: white;
  display: flex;
}
.content .mnue > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.content .mnue > div img {
  margin-top: 0.5rem;
  display: block;
  width: 1.025rem;
  height: 0.825rem;
}
.content .mnue > div span {
  display: block;
  font-family: PingFang-SC-Medium;
  font-size: 0.45rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #6c6969;
  margin-bottom: 0.5rem;
}
.content .zu {
  height: 4.4rem;
  width: 18.75rem;
  margin-top: 0.5rem;
}
.content .zu > div {
  background: white;
  margin-top: 0.05rem;
  width: 18.75rem;
  height: 2.1rem;
  line-height: 2.1rem;
}
.content .zu > div span {
  font-family: PingFang-SC-Medium;
  font-size: 0.65rem;
  font-weight: normal;
  font-stretch: normal;
  margin-left: 0.625rem;
  color: #020202;
}
.content .zu > div img {
  float: right;
  width: 0.325rem;
  height: 0.55rem;
  margin-right: 0.5rem;
  margin-top: 0.875rem;
}
.zw2 {
  width: 18.75rem;
  height: 2.7rem;
}
footer {
  width: 18.75rem;
  height: 2.7rem;
  background: white;
  position: fixed;
  bottom: 0;
}
footer ul {
  height: 2.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul li:nth-child(4) {
  color: #f69736;
}
footer ul li {
  width: 1.7rem;
  height: 1.75rem;
  list-style: none;
  font-size: 0.55rem;
  color: #8c8484;
  text-align: center;
}
footer ul li img {
  margin: 0 auto;
  width: 1rem;
  height: 1rem;
  display: block;
}
footer ul li .index {
  background: url(../img/图层3.png) no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: auto 1rem;
  margin-left: 0.35rem;
}
